# copied from .gitignore (which this overrides)
/doc/
/.env

# additional exclusions irrelevant for published packages
/.env.example
/.eslintrc.json
/.gitlab-ci.yml
/.wdio.cjs
/RELEASE.md
/jsdoc/
/test/
